<!-----localhost:5000/upload------>

<!---Importamos las vistas desde partials--->
  
  <!----Navbar----->
  <div>
  {{>navigation}}
  </div>

  <!---Formulario--->
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-body">
            {{> images/form }} <!---partials images form--->
          </div>
        </div>
      </div>
    </div>
  </div>

